/* ===== SINGLE ===== */
.single .entry-header,
.single .entry-thumbnail,
.page-template-default .entry-header,
.page-template-default .entry-thumbnail {
  margin-bottom: 16px;
}
.single .entry-title,
.page-template-default .entry-title {
  margin-top: 7px;
  margin-bottom: 10px;
}
.single .entry-categories,
.page-template-default .entry-categories {
  font-size: var(--small-font-size);
  text-transform: uppercase;
}
.single .entry-thumbnail_caption,
.page-template-default .entry-thumbnail_caption {
  margin-top: 5px;
  font-style: italic;
  font-size: var(--small-font-size);
}
.single .entry-meta a,
.single .entry-categories a,
.page-template-default .entry-meta a,
.page-template-default .entry-categories a {
  text-decoration: none;
}
.single .byline,
.page-template-default .byline {
  display: inline-block;
  margin-right: 5px;
}
.single .entry-meta,
.page-template-default .entry-meta {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: var(--small-font-size);
}
.single .post-navigation,
.page-template-default .post-navigation {
  padding-left: 16px;
  padding-right: 16px;
}
@media screen and (min-width: 980px) {
  .single .site,
.page-template-default .site {
    display: grid;
    grid-template-columns: 1fr 300px;
    grid-column-gap: 16px;
  }
  .single .post-navigation,
.page-template-default .post-navigation {
    padding-left: 0;
    padding-right: 0;
  }
}

/* ===== WIDGETS ===== */
.widget h2 {
  font-size: 20px;
}
.widget ul {
  padding-left: 0;
}
.widget ul li {
  list-style: none;
  margin-bottom: 7px;
}
.widget ul li:last-child {
  margin-bottom: 0;
}

/* ===== MISC ===== */
.sticky {
  position: sticky !important;
  top: 0;
}

.boxshadow {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}

/* Position child elements relative to this element */
.aspect-ratio {
  position: relative;
  display: block;
  content: "";
  height: 0;
  overflow: hidden;
  /* 16:9 aspect ratio */
  padding-top: 56.25%;
}

.aspect-ratio._1_1 {
  /* 16:9 aspect ratio */
  padding-top: 100% !important;
}

/* Image is positioned absolutely relative to the parent element */
.aspect-ratio img {
  /* Image should match parent box size */
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* WP embed shortcode */
.blkcanvas-embed-responsive {
  position: relative;
}
.blkcanvas-embed-responsive iframe {
  max-width: 100%;
}

body.mobile-nav-open {
  overflow-y: hidden;
}

/* WP Classes */
body.page-template-blank .alignwide {
  width: calc(100% + var(--content-wide-width-bump));
  margin: 0 var(--content-wide-width-bump-margin);
}
body.page-template-blank .alignfull {
  margin: 0 calc(50% - 50vw);
  max-width: 100vw;
  width: 100vw;
}
body.page-template-blank .alignfull .wp-block-group__inner-container {
  margin-left: auto;
  margin-right: auto;
}
body.page-template-blank .alignfull.is-position-top-left .wp-block-cover__inner-container {
  width: auto;
}

.alignleft {
  float: left;
}

.alignright {
  float: right;
}

.entry-pagination .nav-links {
  display: flex;
  justify-content: space-between;
}

/*# sourceMappingURL=single.css.map */
