.entry{
    margin-bottom: var(--global-padding-y);
    .entry-header,
    .entry-thumbnail{
        margin-bottom:10px;
    }
    .entry-title{
        margin-bottom: 10px;
    }
    .entry-categories{
        display: block;
        margin-bottom: 10px;
    }
    .entry-thumbnail_caption{
        margin-top: 5px;
        font-style: italic;
        font-size: var(--small-font-size);
    }
    .entry-meta a,
    .entry-categories a{
        text-decoration: none;
    }
    .byline{
        display: inline-block;
        margin-right: 5px;
    }
    .entry-meta{
        margin-top:10px;
        margin-bottom: 10px;
    }
}