a.custom-logo-link {
    img.custom-logo{
        display: block;
        width: auto;
        max-width: var( --site-logo-max-width-mobile );
        min-width: 30px;
        @media screen and (min-width:768px) {
            max-width: var( --site-logo-max-width );
        }
    }
}
