/* ===== ARCHIVE ===== */
.archive{
    @media screen and (min-width:980px) {
        .site{
            display: grid;
            grid-template-columns: 1fr 300px;
            grid-column-gap: 16px;
        }
    }
}