@import '../components/card.scss';

.home{
    .archive-header{
        padding-top: var(--global-padding-y);
    }
    .entry-title{
        margin-bottom: 10px;
    }
    .entry-categories{
        font-size: var(--small-font-size);
        text-transform: uppercase;
        margin-bottom: 10px;
    }
    @media screen and (min-width:980px) {
        .site{
            display: grid;
            grid-template-columns: 1fr 300px;
            grid-column-gap: 16px;
        }
    }
}