@import '../components/entry.scss';

.single,
.page-template-default{
    @media screen and (min-width:980px) {
        .site{
            display: grid;
            grid-template-columns: 1fr calc( var( --global-padding-x ) * 2 + 300px );
            grid-column-gap: 16px;
        }
    }
}
