/* ===== SITE FOOTER ===== */
.footer{
    ul.menu{
        display: flex;
        padding-left: 0;
        li{
            display: inline-block;
            list-style: none;
            margin-right: 16px;
        }
    }
}
