/* ===== SITE ===== */
.site,
.site-header-container,
.page-header,
.entry-content,
.footer-container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.site{
    margin-top: 0;
}
.entry-header,
.entry-content,
aside.sidebar{
    padding-left: var( --global-padding-x );
    padding-right: var( --global-padding-x );
}
@media screen and (min-width:768px) {
    aside.sidebar{
        padding-left: 0;
        padding-right:0;
    }
}