/* ===== SITE ===== */
.site,
.blkcanvas-container,
.archive-header,
.entry-content,
.footer-container,
.wp-block-cover__inner-container,
.wp-block-group__inner-container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: var(--container-width);
}
body:not(.page-template-blank){
    .site{
        padding-top: var( --global-padding-y );
        padding-bottom: var( --global-padding-y );
    }
}

.entry,
.archive-header,
.sidebar,
.blkcanvas-container, 
.site-navigation.active,
.pagination{
    padding-left: var( --global-padding-x );
    padding-right: var( --global-padding-x );
}