/* ===== SITE ===== */
.site,
.blkcanvas-container,
.page-header,
.entry-content,
.footer-container,
.wp-block-cover__inner-container,
.wp-block-group__inner-container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: var(--container-width);
}
.site{
    margin-top: 0;
}
.entry-header,
.entry-content,
aside.sidebar,
.blkcanvas-container, 
.site-navigation.active{
    padding-left: var( --global-padding-x );
    padding-right: var( --global-padding-x );
}
@media screen and (min-width:768px) {
    aside.sidebar{
        padding-left: 0;
        padding-right:0;
    }
}