@import '../components/navigation.scss';
@import '../components/hamburger.scss';
@import '../components/forms/all.scss';

header.header {
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    z-index: 10;
    .blkcanvas-container {
        display: flex;
        align-items: center;
        justify-content: var(--header-justify-content);
    }
    @media screen and (min-width:780px){
        .admin-bar &.sticky {
            top:  32px;
        }
    }
    @media screen and (min-width:980px){
        .site-logo-container{
            margin-right: 15px;
        }
        .site-navigation{
            justify-content: var(--navigation-justify-content);
            flex: 1 1 auto;
            order: 1;
        }
        form.search{
            order: 2;
        }
    }
}