:root{
    --link-color:#01cdfe;
    --header-text-color:#fff;
    --header-bg-color:#000;
}
*{box-sizing: border-box;}
html,body{
    margin: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

h1,h2,h3{
    font-family: 'Lexend', sans-serif;
}
h1 a,
h2 a,
h3 a{
    color: inherit;
    text-decoration: none;
}
h1 a:hover,
h2 a:hover,
h3 a:hover{
    text-decoration: underline;
}
img{
    height: auto;
    max-width: 100%;
}
article{
    position: relative;
}
a{
    color: var( --link-color );
}