/* ===== MISC ===== */
.sticky{
    position: sticky;
    top: 0;
}
/* Position child elements relative to this element */
.aspect-ratio {
    position: relative;
    display: block;
    content: "";
    height: 0;
    overflow: hidden;
    /* 16:9 aspect ratio */
    padding-top: 56.25%;
}

.aspect-ratio._1_1 {
    /* 16:9 aspect ratio */
    padding-top: 100% !important;
}

/* Image is positioned absolutely relative to the parent element */
.aspect-ratio img {
    /* Image should match parent box size */
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}