/* ===== SITE ===== */
.site,
.site-header-container,
.page-header,
.blkcanvas-container{
    max-width: 1080px;
    margin: auto;
}
.site{
    margin-top: 0;
    padding-left: 16px;
    padding-right: 16px;
}
.page-header{
    padding-left: 16px;
    padding-right: 16px;
}
a.author{
    font-weight: bold;
}